/*SECCION_ENCABEZADO**/  
  .imgEncabezadoViñedo {
    background-image: url(../img/ViñedoHeader.jpg); 
    background-position: center;
    background-size: cover;
  }
/*SECCION_IMAGENES**/
  .contenedorImagenes__Img12345 {
    height: 166.5px;
    width: 224.832px;
  }