@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Smooch+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Junge&family=Smooch+Sans:wght@300;400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/*****SITIO******/
* {
  margin: 0;
  padding: 0;
}

header .headerNavbar {
  font-family: "Hurricane";
  font-style: italic;
  font-size: 1.5em;
  letter-spacing: 3px;
}
@media (min-width: 768px) {
  header .headerNavbar {
    font-size: 2em;
    height: 270px;
  }
}
header nav {
  background-image: url(../img/wood_1.png);
}
header nav .burguerIcon {
  background-color: silver;
  border: 3px solid white;
  border-radius: 20%;
  box-shadow: 3px 3px silver, 4px 4px white;
}
header nav .burguerIcon:active {
  box-shadow: 2px 2px silver;
  transform: translate(2px, 2px);
}
header nav .navbar-toggler {
  width: 120px;
}
header nav .navbar-toggler:focus {
  box-shadow: none;
}
header nav .navegacion {
  flex-basis: 0%;
}
header nav .headerNavbar_Nav {
  width: fit-content;
  animation-name: logoFadeIn;
  animation-duration: 5s;
}
header nav .backgroundDropDown {
  background-color: rgba(247, 239, 239, 0.12);
}
@media (max-width: 575px) {
  header nav .dnone {
    display: none;
  }
}
header .imgEncabezado {
  height: 350px;
  font-family: "Hurricane";
  letter-spacing: 5px;
  font-weight: lighter;
  color: silver;
}
header .imgEncabezado h1 {
  font-size: 3em;
  animation-name: logoFadeIn;
  animation-duration: 5s;
}
@media (min-width: 260px) {
  header .imgEncabezado h1 {
    font-size: 5em;
  }
}
@media (min-width: 400px) {
  header .imgEncabezado h1 {
    font-size: 6em;
    transition: 3s;
  }
}
@media (min-width: 768px) {
  header .imgEncabezado h1 {
    font-size: 8em;
    transition: 3s;
  }
}

footer {
  background-image: url(../img/wood_1.png);
}
footer .footer__NavBarSocial a {
  margin-bottom: 10px;
}
footer .footer__NavBarSocial a i {
  font-size: clamp(2em, 3vw, 4em);
}
footer .footer__NavBarSocial a .face {
  color: #3b5998;
}
footer .footer__NavBarSocial a .insta {
  color: #bc2a8d;
}
footer .footer__NavBarSocial a .wapp {
  color: #25d366;
}
footer .footer__NavBarSocial a .mail {
  color: #b2936d;
}

.footer__NavBar a {
  font-size: clamp(2em, 3vw, 4em);
  font-family: "Hurricane", cursive;
  text-decoration: none;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.navFooterAnimation {
  animation-name: shadowout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes shadowout {
  from {
    text-shadow: none;
    transform: scale(1);
    -webkit-text-stroke: 0;
    color: white;
  }
  to {
    text-shadow: 0px 0px 8px white, 39px -10px 20px silver;
    transform: scale(1.1);
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    color: transparent;
  }
}

.footer-logo-text {
  font-size: clamp(0.9rem, 2vw, 3rem);
}

.logo {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-family: "Junge", serif;
  animation-name: logoFadeIn;
  animation-duration: 5s;
}
.logo img {
  box-shadow: 2px 2px #999;
}
.logo img:active {
  box-shadow: 0px 0px #666;
  transform: translate(2px, 2px);
}
@keyframes logoFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.woodBoard {
  background-image: url(../img/wood_1.png);
}

.tituloWoodboard {
  font-size: 2em;
  font-weight: 100;
  font-family: "Inria Serif", serif;
  text-decoration: underline solid silver 2px;
  color: silver;
  letter-spacing: 2px;
  text-align: center;
}

.parrafoWoodboard {
  font-size: 1em;
  font-weight: normal;
  font-family: "Inria Serif", serif;
  text-decoration: none;
  color: #c6cfd8;
  letter-spacing: 2px;
  text-align: justify;
}

.titulo {
  font-size: 1.5em;
  font-weight: 100;
  font-family: "Inria Serif", serif;
  text-decoration: 0;
  color: black;
  letter-spacing: 3px;
  text-align: center;
}

@media (min-width: 768px) {
  .titulo {
    font-size: 3.5em;
  }
}
.parrafo {
  font-size: 1em;
  font-weight: bold;
  font-family: "Inria Serif", serif;
  text-decoration: none;
  color: #444444;
  letter-spacing: 2px;
  text-align: justify;
}

/******INDEX****/
/**SECCION_ENCABEZADO****/
.imgEncabezadoIndex {
  background-image: url(../img/IndexHeader.jpg);
  background-position: center;
  background-size: cover;
}

/****SECCION VIÑEDO****/
.sectionViñedoSubTitulo {
  font-size: 2em;
  letter-spacing: 3px;
  font-family: "Inria Serif", serif;
  color: silver;
  text-decoration: underline solid silver 1px;
}
@media (min-width: 768px) {
  .sectionViñedoSubTitulo .sectionViñedoParrafo {
    font-size: 1em;
  }
}

.img {
  box-shadow: -10px 10px 10px rgba(59, 88, 152, 0.5254901961);
}
.img .img1:hover {
  transform: scale(1.1);
  transition: 5s;
}

.botonViñedo div {
  bottom: 8px;
  width: 100%;
}

@media (min-width: 1320px) {
  .botonViñedoAnimacion {
    animation-name: botonEnlace;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes botonEnlace {
    from {
      transform: none;
      transition: none;
      box-shadow: none;
      color: silver;
      -webkit-text-stroke: 0;
    }
    to {
      transform: translate(270px, -110px);
      transition: 1s;
      width: 40%;
      box-shadow: inset 10px 10px 80px silver, -10px -10px 80px rgb(0, 0, 0);
      color: transparent;
      -webkit-text-stroke: 1.5px black;
    }
  }
}
/****SECCION BODEGA****/
.botonWoodBoardBodega, .botonWoodBoardProductos, .botonViñedo {
  color: silver;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 3px;
  font-family: "Hurricane";
  font-weight: 100;
  padding: 20px 20px;
  animation-name: fadeIn;
  animation-duration: 3s;
}
.botonWoodBoardBodega:hover, .botonWoodBoardProductos:hover, .botonViñedo:hover {
  cursor: pointer;
  animation: none;
  text-shadow: 0px 0px 8px white, 39px -10px 20px silver;
  transform: scale(1.02);
  transition: 1s;
  -webkit-text-stroke: 1.5px black;
  color: transparent;
}
.botonWoodBoardBodega:hover .fa-solid, .botonWoodBoardProductos:hover .fa-solid, .botonViñedo:hover .fa-solid {
  display: inline-block;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.botonWoodBoardBodega .fa-solid, .botonWoodBoardProductos .fa-solid, .botonViñedo .fa-solid {
  font-size: 0.4em;
  margin-left: 10px;
  display: none;
}
@media (min-width: 576px) {
  .botonWoodBoardBodega, .botonWoodBoardProductos, .botonViñedo {
    font-size: 4em;
  }
}

/****SECCION PRODUCTOS****/
.botonWoodBoardProductos {
  border: 1px solid silver;
  margin: 10px;
}

/******BODEGA****/
/***SECCION_ENCABEZADO****/
.imgEncabezadoBodega {
  background-image: url(../img/BodegaHeader.jpg);
  background-position: center;
  background-size: cover;
}

/***WOODBOARD************/
.video {
  height: 500px;
}

/***IMAGENES************/
.contenedorImagenes__Img1234 {
  height: 275px;
  width: 275px;
}

/******VIÑEDO****/
/*SECCION_ENCABEZADO**/
.imgEncabezadoViñedo {
  background-image: url(../img/ViñedoHeader.jpg);
  background-position: center;
  background-size: cover;
}

/*SECCION_IMAGENES**/
.contenedorImagenes__Img12345 {
  height: 166.5px;
  width: 224.832px;
}

/******PRODUCTOS****/
/*SECCION_ENCABEZADO**/
.imgEncabezadoProductos {
  background-image: url(../img/ProductosHeader.jpg);
  background-position: center;
  background-size: cover;
}

.buttonCards:hover {
  color: white;
}

.cardsDiv {
  display: flex;
  justify-content: center;
}
@media (max-width: 750px) {
  .cardsDiv {
    justify-content: space-between;
  }
}

.cardFont {
  font-family: "Junge", serif;
}

.card-text {
  font-family: "Hurricane";
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #bc2a8d;
}

.cardValue {
  font-family: "Hurricane";
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.card {
  justify-content: space-between;
}

.card-body {
  flex: 0.5 0.5 auto !important;
}

/******CONTACTO****/
/*SECCION_ENCABEZADO**/
.imgEncabezadoContacto {
  background-image: url(../img/ContactoHeader.jpg);
  background-position: center;
  background-size: cover;
}

/*SECCION_FORMULARIO**/
form div {
  animation-name: inputTilt;
  animation-duration: 6s;
  animation-iteration-count: 1;
  box-shadow: 1px 1px 5px black;
}
@keyframes inputTilt {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    box-shadow: 50px 50px 20px black;
  }
  50% {
    opacity: 1;
    box-shadow: 40px 40px 5px black;
  }
  55% {
    opacity: 1;
    box-shadow: 20px 20px 20px black;
  }
  60% {
    opacity: 1;
    box-shadow: 10px 10px 5px black;
  }
  65% {
    opacity: 1;
    box-shadow: 8px 8px 5px black;
  }
  70% {
    opacity: 1;
    box-shadow: 6px 6px 20px black;
  }
  75% {
    opacity: 1;
    box-shadow: 4px 4px 5px black;
  }
  80% {
    opacity: 1;
    box-shadow: 2px 2px 20px black;
  }
  85% {
    opacity: 0;
    box-shadow: 1px 1px 5px black;
  }
  90% {
    opacity: 1;
    box-shadow: 1px 1px 5px black;
  }
  95% {
    opacity: 1;
    box-shadow: 1px 1px 5px black;
  }
  100% {
    opacity: 1;
    box-shadow: 1px 1px 5px black;
  }
}
form div Input {
  font-family: "Inria Serif", serif;
  font-size: 4em;
  letter-spacing: 2px;
  padding: 5.4px 33px;
  font-weight: 100;
  border: 1px solid rgba(192, 192, 192, 0.452);
}
form div textarea {
  animation-name: inputTilt;
  font-family: "Inria Serif", serif;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 100;
  border: 1px solid rgba(192, 192, 192, 0.452);
}

/*# sourceMappingURL=styles.css.map */
