/***SECCION_ENCABEZADO****/
    .imgEncabezadoBodega {
        background-image: url(../img/BodegaHeader.jpg);
        background-position: center;
        background-size: cover;
    }  
/***WOODBOARD************/
    .video {
        height: 500px;
        }
/***IMAGENES************/
    .contenedorImagenes__Img1234 {
        height: 275px;
        width: 275px;
    }