footer {
  background-image: url(../img/wood_1.png);

  .footer__NavBarSocial a {
    margin-bottom: 10px;

    i {
      font-size: clamp(2em, 3vw, 4em);
    }
    .face {
      color: #3b5998;
    }

    .insta {
      color: #bc2a8d;
    }

    .wapp {
      color: #25d366;
    }

    .mail {
      color: #b2936d;
    }
  }
}
.footer__NavBar {
  a {
    font-size: clamp(2em, 3vw, 4em);
    font-family: 'Hurricane', cursive;
    text-decoration: none;
    padding: 5px;
    text-decoration: none;
    color: white;
  }
}

.navFooterAnimation {
  animation-name: shadowout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  @keyframes shadowout {
    from {
      text-shadow: none;
      transform: scale(1);
      -webkit-text-stroke: 0;
      color: white;
    }
    to {
      text-shadow: 0px 0px 8px white, 39px -10px 20px $colorPrimario;
      transform: scale(1.1);
      -webkit-text-stroke: 0.5px rgb(255, 255, 255);
      color: transparent;
    }
  }
}

.footer-logo-text{
  font-size: clamp(0.9rem, 2vw, 3rem);
}
