.logo {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: $logoFontFam;
    animation-name: logoFadeIn;
    animation-duration: 5s;
    img {
        box-shadow: 2px 2px #999;
    
        &:active {
            box-shadow: 0px 0px #666;
            transform: translate(2px,2px);
        }

    }       
    @keyframes logoFadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }
}

       